<div class="bloc-combinaison">

    <form action="{{ url('loto_add_combinaison', {id: loto.id}) }}" class="form-add-combinaison">

        <select name="type_combinaison-{{ loto.id}}" id="type_combinaison-{{ loto.id }}" class="type_combinaison is-fullwidth input mb-5">
            <option value="">Choisir une option</option>
            <option value="1_ligne">1 ligne</option>
            <option value="1_colonne">1 colonne</option>
            <option value="numero">Numéro X de sa grille</option>
            <option value="ordre">Numéro X du loto</option>
            <option value="combinaison">Combinaison de grille</option>
        </select>

        <div class="choix-combinaison">
            {% for i in 0..loto.hauteurGrille-1 %}
                <div>
                    {% for j in 0..loto.largeurGrille-1 %}
                        <span class="checkbox-group">
                            <input type="checkbox" name="c[{{ i }}][{{ j }}]" id="{{ i }}-{{ j }}-{{ loto.id }}">
                            <label for="{{ i }}-{{ j }}-{{ loto.id }}"></label>
                        </span>
                    {% endfor %}
                </div>
            {% endfor %}

            <input type="text" name="description" class="input mt-5" placeholder="Description">

            <a class="reset-combinaison is-block mt-5 has-text-white">Réinitialiser</a>
        </div>

        <div class="choix-numero">
            <input type="number" name="numero" class="input mt-5" placeholder="Numéro X de sa grille">
        </div>

        <div class="choix-ordre">
            <input type="number" name="ordre" class="input mt-5" placeholder="Numéro X du loto">
        </div>

        <a class="add-combinaison is-block mt-5 has-text-white button is-link" data-bloc-loto="#card-loto-{{ loto.id }}">Ajouter</a>
    </form>

</div>