{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full">
                <h1 class="title">Utilisateurs</h1>
            </div>

            <div class="column is-full">
                <table class="table table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Compte vérifié</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('user_new') }}">Create new</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
