{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full">
                <h1 class="title">Utilisateur</h1>
            </div>

            <div class="column is-full">

                <table class="table table is-striped is-fullwidth">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Roles</th>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        </tr>
                        <tr>
                            <th>Compte vérifié</th>
                            <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ path('user_index') }}">back to list</a>

                <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
