<div class="card mb-6 card-loto">
    <header class="card-header">
        <p class="card-header-title">
            {{ loto.nom }} - ({{ loto.id }})
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
        </a>
    </header>
    <div class="card-content">
        <div class="content">
            Joueurs : <a href="" class="voir-liste-joueurs" data-target=".modal-{{ loto.id }}">{{ loto.joueurs|length }}</a><br>
            Hauteur : {{ loto.hauteurGrille }} / Largeur : {{ loto.largeurGrille }}
            <br>
            <time>Du {{ loto.dateDebut ? loto.dateDebut|format_date(pattern="d B Y") : '' }} au {{ loto.dateFin ? loto.dateFin|date('d-m-Y') : '' }}</time>
        </div>
    </div>
    <footer class="card-footer">
        {% if loto.tirages|length == 0 %}
            <a href="{{ path('loto_generer_tirage', {'id': loto.id}) }}" class="card-footer-item generer-tirage">Générer le tirage</a>
        {% endif %}
        <a href="{{ path('loto_show', {'id': loto.id}) }}" class="card-footer-item">Voir</a>
        <a href="{{ path('loto_edit', {'id': loto.id}) }}" class="card-footer-item">Editer</a>
    </footer>
</div>
<div class="modal modal-{{ loto.id }}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            {% for joueur in loto.joueurs %}
                <a href="{{ path('user_show', {'id': joueur.id}) }}">{{ joueur.prenom }} {{ joueur.nom }}</a><br/>
            {% endfor %}
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>