{% extends 'base.html.twig' %}

{% block title %}Loto index{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full">
                <h1 class="title">Loto</h1>
            </div>

            <div class="column is-full">
                <table class="table table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Joueurs</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Hauteur</th>
                            <th>Largeur</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for loto in lotos %}
                        <tr>
                            <td>{{ loto.id }}</td>
                            <td>{{ loto.nom }}</td>
                            <td>{{ loto.joueurs|length }}</td>
                            <td>{{ loto.dateDebut ? loto.dateDebut|date('d-m-Y') : '' }}</td>
                            <td>{{ loto.dateFin ? loto.dateFin|date('d-m-Y') : '' }}</td>
                            <td>{{ loto.hauteurGrille }}</td>
                            <td>{{ loto.largeurGrille }}</td>
                            <td>
                                <a href="{{ path('loto_show', {'id': loto.id}) }}">Voir</a>
                                <a href="{{ path('loto_edit', {'id': loto.id}) }}">Editer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Aucuns lotos</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('loto_new') }}">Ajouter un nouveau</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
