{% extends 'base.html.twig' %}

{% block title %}Loto{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full">
                <h1 class="title">Loto - {{ loto.nom }}</h1>
            </div>

            <div class="column is-full">
                <table class="table table is-striped is-fullwidth">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ loto.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ loto.nom }}</td>
                        </tr>
                        <tr>
                            <th>Date de début</th>
                            <td>{{ loto.dateDebut ? loto.dateDebut|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Date de fin</th>
                            <td>{{ loto.dateFin ? loto.dateFin|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Hauteur</th>
                            <td>{{ loto.hauteurGrille }}</td>
                        </tr>
                        <tr>
                            <th>Largeur</th>
                            <td>{{ loto.largeurGrille }}</td>
                        </tr>
                        <tr>
                            <th>Joueurs</th>
                            <td>
                                {%  for joueur in loto.joueurs %}
                                    <a href="{{ url('user_show', {id: joueur.id}) }}">{{ joueur.email }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="column is-full">
                <a href="{{ path('loto_index') }}">back to list</a>
            </div>

            <div class="column is-full">
                <a href="{{ path('loto_edit', {'id': loto.id}) }}">edit</a>
            </div>

            <div class="column is-full">
                {{ include('loto/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>


    {% for i in 0..loto.hauteurGrille-1 %}
        <div>
        {% for j in 0..loto.largeurGrille-1 %}
            <span class="checkbox-group">
                <input type="checkbox" name="c[{{ i }}][{{ j }}]" id="c[{{ i }}][{{ j }}]">
                <label for="c[{{ i }}][{{ j }}]"></label>
            </span>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
