{% extends 'base.html.twig' %}

{% block title %}Loto fiche{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full">
                <h1 class="title">Loto - {{ loto.nom }}</h1>
            </div>

            <div class="column is-full">
                {{ include('loto/card.html.twig') }}
            </div>

            {% if date(loto.dateDebut) <= date() %}
                <div class="column isfull">
                    <h3 class="title is-3">Tirages</h3>
                    <div class="box">
                        {% for jour in listeJoursTirage %}
                            {{ date(jour.date)|format_date(pattern='d MMMM Y') }}
                            {% for nb in jour.nombres %}
                                <span class="tag is-link is-medium">
                                    {{ nb }}
                                </span>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if app.user in loto.joueurs %}
                <div class="column is-full">
                    <h3 class="title is-3">Mes numéros</h3>
                    {#<div id="liste-tirages">
                        {% if tirages %}
                            {% for tirage in tirages %}
                                <span class="tirage has-background-danger">{{ tirage.nombre }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>#}
                </div>
                <div class="column is-full">
                {% if tiragesJoueur %}
                    <div class="box">
                        {% if loto.autoriserEditionGrilles %}
                            <form action="{{ path('grille_update', {'id': loto.id}) }}" method="POST" id="update-grille">
                        {% endif %}
                        <div id="ma-grille">
                            {% set count = 0 %}
                            {% for i in 0..loto.hauteurGrille-1 %}
                                <div class="ligne-grille">
                                    {% for j in 0..loto.largeurGrille-1 %}
                                        {% if tiragesJoueur[ count ].nombre is defined %}
                                            {% set nombre = tiragesJoueur[ count ].nombre %}
                                        {% else %}
                                            {% set nombre = tiragesJoueur[ i ][ j ] %}
                                        {% endif %}
                                        <span class="tirage-grille">
                                            <span class="tirage is-sortable tirage-sortable {{ nombre in nombresTires ? 'has-background-success' : 'has-background-danger' }}">
                                               {{ nombre }}
                                                <input
                                                        type="text"
                                                        name="c[{{ i }}][{{ j }}]" id="{{ i }}-{{ j }}-{{ loto.id }}"
                                                        value="{{ nombre }}"
                                                        class="input-tirage">
                                            </span>
                                        </span>
                                        {% set count = (count + 1) %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        {% if loto.autoriserEditionGrilles %}
                            <div class="buttons is-right">
                                <button class="button is-primary is-right">{{ button_label|default('Enregistrer') }}</button>
                            </div>
                            </form>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="box">Aucun numéros actuellement.</div>
                {% endif %}
                </div>
            {% endif %}

            <div class="column is-full">
                <h3 class="title is-3">Autres joueurs</h3>
            </div>
            {% for tirage in tirages %}
                <div class="column is-one-third">
                    <div class="box">
                        {% if tirage.grille is defined %}
                            <a class="has-text-centered mb-5 is-block" href="{{ path('user_show', {'id': tirage.joueur.id}) }}">{{ tirage.joueur.prenom }} {{ tirage.joueur.nom }}</a>
                        {% else %}
                            <a class="has-text-centered mb-5 is-block" href="{{ path('user_show', {'id': tirage[0].joueur.id}) }}">{{ tirage[0].joueur.prenom }} {{ tirage[0].joueur.nom }}</a>
                        {% endif %}
                        {% if tirage %}
                            <div class="grille-joueur">
                                {% set count = 0 %}
                                {% for i in 0..loto.hauteurGrille-1 %}
                                    <div class="ligne-grille">
                                        {% for j in 0..loto.largeurGrille-1 %}
                                            <span class="tirage-grille">
                                                {% if tirage[ count ].nombre is defined %}
                                                    {% set nombre = tirage[ count ].nombre %}
                                                {% else %}
                                                    {% set nombre = tirage.grille[ i ][ j ] %}
                                                {% endif %}
                                                <span class="tirage {{ nombre in nombresTires ? 'has-background-success' : 'has-background-danger' }}">{{ nombre }}</span>
                                            </span>
                                            {% set count = (count + 1) %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="box">Aucun numéros actuellement.</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="column is-full">
                <a href="{{ path('loto_index') }}" class="button">Retour à la liste</a>
            </div>

            {% if loto.auteur.id == app.user.id %}
                <div class="column is-full">
                    <a href="{{ path('loto_edit', {'id': loto.id}) }}" class="button is-link">Modifier</a>
                </div>

                <div class="column is-full">
                    {{ include('loto/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
